<div class="view">
  <input type="checkbox" class="toggle" checked={{todo.completed}} onchange={{action 'toggleCompleted'}}>
  <label ondblclick={{action 'startEditing'}}>{{todo.title}}</label>
  <button onclick={{action 'removeTodo'}} class="destroy"></button>
  <button onclick={{action 'showInput'}} class="calendar fa fa-calendar" aria-hidden="true"></button>
  <input class="date" type=text placeholder=YYYY-MM-DD onchange={{action 'checkDate'}}>
</div>
<input type="text" class="edit" value={{todo.title}} onblur={{action 'doneEditing' value='target.value'}} onkeydown={{action 'handleKeydown'}} autofocus>
